---
id: ${__E2E_TEST_FILE_BASENAME__}
title: ${__E2E_TEST_TITLE__}
---
import { ${__E2E_TEST_FILE_BASENAME__}Example } from "../../../../src/examples/${__E2E_TEST_FILE_PATH__}"
import RenderExample from "/src/components/RenderExample.tsx"

<RenderExample path="${__E2E_TEST_FILE_PATH__}" example={${__E2E_TEST_FILE_BASENAME__}Example} />
