---
id: ${__E2E_TEST_FILE_BASENAME__}
title: ${__E2E_TEST_TITLE__}
---
import { ${__E2E_TEST_FILE_BASENAME__}Example } from "../../../../${__E2E_TEST_FILE_PATH__}"
import RenderExample from "/src/components/RenderExample.tsx"

${__E2E_TEST_DESCRIPTION__}

<RenderExample path="${__E2E_TEST_FILE_PATH__}" example={${__E2E_TEST_FILE_BASENAME__}Example} />
