name: docs

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      skip_coveralls:
        description: "Skip coveralls"
        type: boolean
        default: false
      skip_pages:
        description: "Skip pages"
        type: boolean
        default: true
      skip_gas:
        description: "Skip push"
        type: boolean
        default: false
      skip_release:
        description: "Skip release"
        type: boolean
        default: false
      skip_sonarcloud:
        description: "Skip sonarcloud"
        type: boolean
        default: false
      skip_tests:
        description: "Skip tests"
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: main
    env:
      CLASP_LIB_SCRIPT_ID: ${{secrets.CLASP_LIB_SCRIPT_ID}}
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - id: nodejs
        name: Use Node.js
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: 20.x
          cache: "npm"
      - id: build
        name: Build
        run: npm run ci:docs
      - name: Deploy Pages
        id: deploy-pages
        uses: JamesIves/github-pages-deploy-action@65b5dfd4f5bcd3a7403bbc2959c144256167464e # v4
        with:
          folder: docs/build
