name: pr

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      skip_build_docs:
        description: "Skip build docs"
        type: boolean
        default: false
      skip_build_lib:
        description: "Skip build lib"
        type: boolean
        default: false
      skip_qa_coveralls:
        description: "Skip QA Coveralls"
        type: boolean
        default: false
      skip_qa_sonarqube:
        description: "Skip QA SonarQube"
        type: boolean
        default: false
      skip_test:
        description: "Skip test"
        type: boolean
        default: false

jobs:
  pr-build:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    environment:
      name: pr
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - id: setup-nodejs
        name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22.x
          cache: "npm"
      - id: build-lib
        if: ${{ !github.event.inputs.skip_build_lib }}
        name: Build lib
        run: npm run ci:build
      - id: test
        if: ${{ !github.event.inputs.skip_test }}
        name: Test
        run: npm run ci:test
      - id: build-docs
        if: ${{ !github.event.inputs.skip_build_docs }}
        name: Build docs
        run: npm run ci:docs
      - id: qa-coveralls
        if: ${{ !github.event.inputs.skip_qa_coveralls }}
        name: QA Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
      - id: qa-sonarqube
        if: ${{ !github.event.inputs.skip_qa_sonarqube }}
        name: QA SonarQube
        uses: SonarSource/sonarqube-scan-action@2f77a1ec69fb1d595b06f35ab27e97605bdef703 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
