name: pr

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      skip_coveralls:
        description: "Skip coveralls"
        type: boolean
        default: false
      skip_sonarcloud:
        description: "Skip sonarcloud"
        type: boolean
        default: false
      skip_tests:
        description: "Skip tests"
        type: boolean
        default: false

jobs:
  pr-build:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    environment:
      name: pr
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - id: nodejs
        name: Use Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: 22.x
          cache: "npm"
      - id: build
        name: Build
        run: npm run ci:build
      - id: test
        if: ${{ !github.event.inputs.skip_tests }}
        name: Test
        run: npm run ci:test
      - id: docs
        name: Build docs
        run: npm run ci:docs
      - id: coveralls
        if: ${{ !github.event.inputs.skip_coveralls }}
        name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2
      - id: sonarcloud
        if: ${{ env.SONAR_TOKEN && !github.event.inputs.skip_sonarcloud }}
        name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
