name: pr

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      skip_coveralls:
        description: "Skip coveralls"
        type: boolean
        default: false
      skip_sonarcloud:
        description: "Skip sonarcloud"
        type: boolean
        default: false
      skip_tests:
        description: "Skip tests"
        type: boolean
        default: false

jobs:
  pr-build:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    environment:
      name: pr
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - id: nodejs
        name: Use Node.js
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 22.x
          cache: "npm"
      - id: build
        name: Build
        run: npm run ci:build
      - id: test
        if: ${{ !github.event.inputs.skip_tests }}
        name: Test
        run: npm run ci:test
      - id: docs
        name: Build docs
        run: npm run ci:docs
      - id: coveralls
        if: ${{ !github.event.inputs.skip_coveralls }}
        name: Coveralls
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949 # v2
      - id: sonarcloud
        if: ${{ env.SONAR_TOKEN && !github.event.inputs.skip_sonarcloud }}
        name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@e44258b109568baa0df60ed515909fc6c72cba92 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
