name: PR

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      skip_coveralls:
        description: "Skip coveralls"
        type: boolean
        default: false
      skip_pages:
        description: "Skip pages"
        type: boolean
        default: true
      skip_sonarcloud:
        description: "Skip sonarcloud"
        type: boolean
        default: false
      skip_tests:
        description: "Skip tests"
        type: boolean
        default: false

jobs:
  pr-build:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    environment:
      name: pr
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - id: nodejs
        name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"
      - id: build
        name: Build
        run: npm run ci:build
      - id: test
        if: ${{ !github.event.inputs.skip_tests }}
        name: Test
        run: npm run ci:test
      - id: coveralls
        if: ${{ !github.event.inputs.skip_coveralls }}
        name: Coveralls
        uses: coverallsapp/github-action@v2
      - id: sonarcloud
        if: ${{ !github.event.inputs.skip_sonarcloud && !github.actor == 'dependabot[bot]' }}
        # NOTE: Dependabot has no access to secrets https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions
        name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Deploy Pages
        id: deploy-pages
        if: ${{ !github.event.inputs.skip_pages }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/build
          target-folder: pr/${{ github.ref }}
